In [2]:
import sqlite3

In [3]:
def check_connection():
    conn=sqlite3.connect("books.db")
    cur=conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS book(id INTEGER PRIMARY KEY,title text,author text,year integer,isbn integer)")
    conn.commit()
    conn.close()
#To run connect everytime backend is called
check_connection()

def create_connection():
    conn=sqlite3.connect("books.db")
    cur=conn.cursor()
    return conn,cur

def end_connection(conn,cur):
    conn.commit()
    conn.close()

In [4]:
#Function to insert book data into the database
def add_entry(title,author,year,isbn):
    # The ? is basically for  inserting the values given in the second argument of the execute function as a tuple
    conn,cur=create_connection()
    cur.execute("INSERT INTO book VALUES (NULL,?,?,?,?)",(title,author,year,isbn))
    end_connection(conn,cur)

In [5]:
#Function to fetch all the rows of the table
def view_all():
    conn,cur=create_connection()
    cur.execute("SELECT * FROM book")
    rows=cur.fetchall()
    end_connection(conn,cur)
    return rows

In [6]:
add_entry("The Sea","John Tablet",1918,913123132)

In [7]:
print(view_all())

[(1, 'The sea', 'John Tablet', 1918, 913123132), (2, 'The sea', 'John Tablet', 1918, 913123132), (3, 'The moon', 'John Smooth', 1917, 99999), (4, 'Hey there', 'Pink', 1918, 99912), (5, 'Hey You', 'Pink', 1918, 1238123), (6, 'Hey There You', 'Pink', 1918, 2342), (7, 'Prodigal Daughter', 'Jeffrey Archer', 2009, 988889767), (8, 'P', 'A', 5, 6), (9, 'P', 'A', 5, 6), (10, 'P', 'd', 7, 8), (11, '4', '6', 7, 7), (12, '1', '2', 3, 4), (13, 's', 'v', 'd', 'd'), (14, '1', '2', 3, 4), (15, 'The Sea', 'John Tablet', 1918, 913123132)]

In [8]:
def search(title="",author="",year="",isbn=""):
    conn,cur=create_connection()
    cur.execute("SELECT * FROM book where title=?  OR author=? OR year=? or isbn=?",(title,author,year,isbn))
    rows=cur.fetchall()
    end_connection(conn,cur)
    return rows

In [9]:
print(search(author="John Smooth"))

[(3, 'The moon', 'John Smooth', 1917, 99999)]

In [10]:
def delete(id):
    conn,cur=create_connection()
    cur.execute("DELETE FROM book WHERE id=?",(id,))
    end_connection(conn,cur)

In [13]:
delete(15)
print(view_all())

[(1, 'The sea', 'John Tablet', 1918, 913123132), (2, 'The sea', 'John Tablet', 1918, 913123132), (3, 'The moon', 'John Smooth', 1917, 99999), (4, 'Hey there', 'Pink', 1918, 99912), (5, 'Hey You', 'Pink', 1918, 1238123), (6, 'Hey There You', 'Pink', 1918, 2342), (7, 'Prodigal Daughter', 'Jeffrey Archer', 2009, 988889767)]

In [14]:
def update(title,author,year,isbn):
    conn,cur=create_connection()
    cur.execute("UPDATE book SET title=?,author=?,year=?,isbn=? WHERE id=?",(title,author,year,isbn,id))
    end_connection(conn,cur)